<!-- This view is displayed when editing a quote. -->
<h1>Update Quote</h1>
<hr/>

<!-- Renders the form in views/quotes/_form with the current quote selected. -->
<%= render "form", quote: @quote%>

<br>

<div>
  <%= link_to "Show this quote", @quote %> |
  <%= link_to "Back to quotes", quotes_path %>
</div>
