<!-- This page displays all the quotes. -->
<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>
<hr/>
<div id="quotes">
  <!-- Render the quote partial in views/quotes/quote -->
  <%= render partial: 'quotes/quote' %>
</div>
