<!-- This view is displayed when creating a quote. -->
<h1>Upload Quote</h1>
<hr />

<!-- Renders the form in views/quotes/_form with the current quote selected. -->
<%= render "form", quote: @quote %>

<br>
<div>
  <%= link_to "Back to my quotes.", userhome_path %>
</div>
