<div style="padding-top: 10px;">
<% if logged_in? && is_administrator? %>
  <h1>Update User Details</h1>
  <% else %>
  <h1>Update Your Details</h1>
  <% end %>
</div>
<hr />

<%= render "form", user: @user %>

<% if logged_in? && is_administrator? %>
<div style="padding-top: 10px;">
<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
</div>
<% end %>