<!-- This view is displayed when creating a user (signing up). -->
<h1 style="padding-top:10px;">Sign Up</h1>
<hr/>

<!-- Renders the form in views/user/_form with the current user selected. -->
<%= render "form", user: @user, updating: false %>

<br>

<div>
  <!-- Gives option to login if they already have an account and selected the wrong button. -->
  <b>Already have an Account?</b>
  <%= link_to "Login", login_path %>
</div>
