<h1>Welcome to myQuote</h1>
<br>
<h3>Recently Added Quotes</h3>
<% @philosopher.each do |philosopher| %>
    <div class="card bg-body-tertiary" style="margin-bottom:10px">
        <div class="card-body">
            <h3 class="card-title"><%= philosopher.fname + " " + philosopher.lname %></h3>
            <% philosopher.quote.each do |quote| %>
                <p class="card-text"><%= quote.quotetext %></p>
            <% end %>
        </div>
    </div>
<% end %>