<!-- This view is displayed when creating a Philosopher. -->
<h1>Create Philosopher</h1>
<hr />

<!-- Renders the form in views/philosopher/_form with the current philosopher selected. -->
<%= render "form", philosopher: @philosopher %>
<br>

<div>
  <%= link_to "Back to philosophers", philosophers_path %>
</div>
