<!-- This view is displayed when creating a category. -->
<h1>New Category</h1>
<hr/>

<!-- Renders the form in views/categories/_form with the current category selected. -->
<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
